{% extends 'base.html.twig' %}

{% block title %}Authentication{% endblock %}

{% block body %}
<main class="container">
    <div class="row my-5">
        <div class="col-12">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
        
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté  en tant que {{ app.user.email }}, Vous pouvez:<br>
                        
                        <ul>
                            <li><a href="{{ path('app_logout') }}" title="Déconnexion">Vous déconnecter</a></li>
                            <li><a href="{{ path('admin') }}" title="Administration">Accéder à la page d'administration</a></li>
                        </ul>
                        
                    </div>
                {% endif %}
        
                <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>

                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>
                
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
        
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
        
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
        
                <button class="btn btn-prim" type="submit"><i class="bi bi-box-arrow-in-right"></i> Connexion</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
