{% extends('base.html.twig') %}

{% block title %}Appointment{% endblock %}

{% block metatags %}
    <meta name="description" content="Vous pouvez directement prendre rendez-vous depuis le site internet."/>
    <meta property="og:title" content="Appointment" />
    <meta property="og:url" content="https://www.jess-relocation.com/" />
    <meta property="og:image" content="{{asset('assets/img/logo-social-media.jpg')}}" />
    <meta property="og:description" content="Vous pouvez directement prendre rendez-vous depuis le site internet." />
    <meta property="og:site_name" content="jess-relocation" />
    <meta property="og:type" content="website" />
{% endblock %}

{% block body %}
<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-appointment.jpg")}})">
</section>

<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Vous pouvez prendre rendez-vous via le formulaire</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <!-- form area -->
        <div class="col-12">
            {{form_start(form)}}
                <div class="form-error">
                    {{form_errors(form.name)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.name)}}
                    {{form_label(form.name)}}
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-8">
                        {{form_errors(form.date_apm)}}
                        <div class="form-floating">
                            {{form_widget(form.date_apm)}}
                            {{form_label(form.date_apm)}}
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        {{form_errors(form.hour)}}
                        <div class="form-floating">
                            {{form_widget(form.hour)}}
                            {{form_label(form.hour)}}
                        </div>
                    </div>
                </div>
                <div class="form-error">
                    {{form_errors(form.phone)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.phone)}}
                    {{form_label(form.phone)}}
                </div>
                <div class="form-error">
                    {{form_errors(form.reason)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.reason)}}
                    {{form_label(form.reason)}}
                </div>
                <button type="submit" id="btn-submit-appointment" class="btn btn-prim"><i class="bi bi-send"></i> Envoyer</button>
            {{form_end(form)}}
        </div>
    </div>
</main>
{% endblock %}