{% extends('base.html.twig') %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-contact.jpg")}})">
</section>

<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Besoin d'un logement ?</h1>
            <p class="text-center">
                Expliquez-moi votre besoin en remplissant le formulaire ci-dessous,
                je vous contacterai dans les plus brefs délais après réception de votre message!
            </p>
        </div>
        <!-- form area -->
        <div class="col-12">
            {{form_start(form)}}
                <div class="form-floating mb-3">
                    {{form_widget(form.name)}}
                    {{form_label(form.name)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.email)}}
                    {{form_label(form.email)}}
                </div>
                <div class="form-error">
                    {{form_errors(form.subject)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.subject)}}
                    {{form_label(form.subject)}}
                </div>
                <div class="form-error">
                    {{form_errors(form.message)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.message)}}
                    {{form_label(form.message)}}
                </div>
                <button type="submit" class="btn btn-prim"><i class="bi bi-send"></i> Envoyer</button>
            {{form_end(form)}}
        </div>
    </div>
</main>
{% endblock %}