{% extends('base.html.twig') %}

{% block title %}Contact{% endblock %}

{% block metatags %}
    <meta name="description" content="Vous pouvez me contacter et m'expliquer votre besoin, je vous réponds dans les plus bref délais."/>
    <meta property="og:title" content="Contact" />
    <meta property="og:url" content="https://www.jess-relocation.com/" />
    <meta property="og:image" content="{{asset('assets/img/logo-social-media.jpg')}}" />
    <meta property="og:description" content="Vous pouvez me contacter et m'expliquer votre besoin, je vous réponds dans les plus bref délais." />
    <meta property="og:site_name" content="jess-relocation" />
    <meta property="og:type" content="website" />
{% endblock %}

{% block body %}
<section class="page-header-banner" style="background-image: url({{asset("assets/img/vue-lyon-contact.jpg")}})">
</section>

<main class="container">
    <div class="row">
        <div class="col-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <h1 class="text-center">Besoin d'un logement ?</h1>
            <p class="text-center">
                Expliquez-moi votre besoin en remplissant le formulaire ci-dessous,
                je vous contacterai dans les plus brefs délais après réception de votre message!
            </p>
        </div>
        <!-- form area -->
        <div class="col-12">
            {{form_start(form)}}
                <div class="form-error">
                    {{form_errors(form.name)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.name)}}
                    {{form_label(form.name)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.email)}}
                    {{form_label(form.email)}}
                </div>
                <div class="form-error">
                    {{form_errors(form.subject)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.subject)}}
                    {{form_label(form.subject)}}
                </div>
                <div class="form-error">
                    {{form_errors(form.message)}}
                </div>
                <div class="form-floating mb-3">
                    {{form_widget(form.message)}}
                    {{form_label(form.message)}}
                </div>
                <button type="submit" class="btn btn-prim"><i class="bi bi-send"></i> Envoyer</button>
            {{form_end(form)}}
        </div>
    </div>
</main>
{% endblock %}