{% extends 'base.html.twig' %}

{% block title %}Viens J'T Loge{% endblock %}

{% block body %}
<!-- welcome banner -->
{% include('_includes/index-header-banner.html.twig') %}
<main class="container-fluid">
    <!-- display message flash -->
    <div class="row">
        <div class="col-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- carousel agence -->
    <div class="row" id="agency-carousel">
        <div class="owl-carousel owl-theme owl-loaded text-center">
            <div>
                <img src="{{asset('assets/img/orpi.jpg')}}" alt="ORPI" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/capcime.jpg')}}" alt="CAPCIME" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/nexity.jpg')}}" alt="NEXITY" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/brimm.jpg')}}" alt="BRIMM IMMOBILIER" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/pdl.jpg')}}" alt="PIERRE DE LUNE" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/ysis.jpg')}}" alt="YSIS IMMO" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/foncia.jpg')}}" alt="FONCIA" class="img-fluid" width="140" height="140">
            </div>
        </div>
    </div>

    <!-- i'm here for you -->
    <div class="row" id="help-you">
        <div class="col-12 col-md-6">
            <h1>
                Je vous aides à trouver <br> le logement qui vous convient
            </h1>

            <p>
                J'apporte mon expertise du marché immobilier
                de la métropole lyonnaise aux futurs locataires de ma si jolie ville.
            </p>
            <p>
                Si vous cherchez un accompagnement complet,
                dans la joie et la bonne humeur, vous avez frappé à la bonne porte!
             </p>
            <p>
                Dynamique, pédagogue et consciente des enjeux quand on quitte tout pour arriver dans une ville parfois inconnue,
                je suis là pour vous aider que vous soyez particuliers, étudiants, professionnels, expats ou étrangers prêts à découvrir la French Touch...
            </p>
            <p>
                De l'établissement du cahier des charges de votre recherche à votre entrée dans les lieux,
                vous ne serez jamais seuls!
            </p>

            <h5 class="text-shadow mt-3">
                <a href="{{path('app_contact')}}" title="Contactez moi" class="btn-prim">Alors, prêts pour l'aventure ? <i class="bi bi-arrow-right"></i></a>
            </h5>
        </div>
        
        <div class="col-12 col-md-6 text-center text-md-end">
            <img src="{{asset('assets/img/jess-portrait.jpg')}}" alt="Jessica Gérold-Householder" class="img-help-you img-fluid">
        </div>
    </div>

    <!-- reason -->
    <div class="row wow animate__animated animate__backInLeft" id="reasons">
        <div class="col-12 text-center">
            <h1>Vous êtes au bon endroit SI</h1>
            <ul class="list-unstyled">
                <li>Vous n’êtes pas sur place</li>
                <li>Vous n’avez pas de temps à accorder à votre recherche</li>
                <li>Vous ne connaissez pas le bassin lyonnais et son marché locatif hyper tendu</li>
                <li>Vous voulez profiter de mes contacts en agence</li>
                <li>Vous recherchez un accompagnement individualisé, complet dans la bienveillance, l’écoute et le fun</li>
            </ul>
        </div>
    </div>

    <!-- Customer reviews -->
    <div class="container">
        <div class="row" id="reviews">
            <div class="col-12 mb-2">
                <h1 class="text-center">Avis clients</h1>
            </div>

            <!-- customer review -->
            {% if reviews | length > 0 %}
                {% for review in reviews %}
                    <div class="col-12 col-md-4">
                        <div class="row text-center">
                            <div class="col-12">
                                {% if review.profilPicture %}
                                    <img src="{{asset('assets/uploads/reviewers_pictures/'~review.profilPicture)}}" alt="Reviewer picture" class="radius-circled" width="100" height="100">
                                {% else %}
                                    <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="Reviewer picture" class="radius-circled" width="100" height="100">
                                {% endif %}
                                <h4>{{review.pseudo}}</h4>
                            </div>
                            <div class="col-12">
                                <p>
                                    {{review.message}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4 class="text-center">Aucun avis pour le moment, n'hésitez pas à en laisser</h4>
            {% endif %}
            
            <div class="col-12 text-end">
                <a href="{{path('app_reviews')}}" title="Tous les avis" class="btn-prim">TOUS LES AVIS <i class="bi bi-arrow-right"></i></a>
                <a href="#" title="" id="let-review-btn" title="Donnez votre avis" class="btn-sec">LAISSER UN AVIS <i class="bi bi-arrow-right"></i></a>
            </div>

            <!-- review form -->
            <div class="col-12 mt-3" id="review-form-section">
                <div class="row">
                    <div class="col-12">
                        <div class="text-end" style="font-size: 40px; cursor: pointer"><i title="Fermer" id="close-review-form-btn" class="bi bi-x" style="color: #0c1431"></i></div>
                        <h1 class="text-center">Laissez un avis sur Jessica</h1>
                        {{form_start(form)}}
                            <div class="form-floating mb-3">
                                {{form_widget(form.pseudo)}}
                                {{form_label(form.pseudo)}}
                            </div>
                            <div class="form-error">
                                {{form_errors(form.message)}}
                            </div>
                            <div class="form-floating mb-3">
                                {{form_widget(form.message)}}
                                {{form_label(form.message)}}
                            </div>
                            <div class="mb-3">
                                <div class="form-error">
                                    {{form_errors(form.profil_picture)}}
                                </div>
                                {{form_label(form.profil_picture)}}
                                {{form_widget(form.profil_picture)}}
                            </div>
                            <button type="submit" class="btn btn-prim"><i class="bi bi-send"></i> Envoyer</button>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- how it works -->
    <div class="row text-center wow animate__animated animate__backInLeft" id="how-it-works-banner">
        <h1>Votre recherche de logement simplifiée</h1>
        <div class="col-6 col-md-3">
            <h5>Stop au stress</h5>
            <p>
                Finies les heures à éplucher les annonces, à tenter de joindre une agence, à prévoir les visites.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>Adieu la paperasse</h5>
            <p>
                Je gère votre dossier de l'établissement de votre cahier des charges à la signature du bail.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>Accès à des offres exclusives</h5>
            <p>
                Grâce à mes contacts en agences bénéficiez d'un accès prioritaire sur certaines offres de location.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>1km à pied ça use</h5>
            <p>
                J'organise et visite les appartements et vous propose un retour détaillé via photos et vidéos.
            </p>
        </div>
    </div>
</main>
{% endblock %}