{% extends 'base.html.twig' %}

{% block title %}Viens J'T Loge{% endblock %}

{% block body %}
<!-- welcome banner -->
{% include('_includes/index-header-banner.html.twig') %}
<main class="container-fluid">
    <!-- carousel agence -->
    <div class="row" id="agency-carousel">
        <div class="owl-carousel owl-theme text-center">
            <div>
                <img src="{{asset('assets/img/orpi.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/capcime.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/nexity.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/brimm.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/pdl.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/ysis.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
            <div>
                <img src="{{asset('assets/img/foncia.jpg')}}" alt="" class="img-fluid" width="140" height="140">
            </div>
        </div>
    </div>

    <!-- i'm here for you -->
    <div class="row" id="help-you">
        <div class="col-12 col-md-6">
            <h1>
                Je vous aides à trouver <br> le logement qui vous convient
            </h1>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi fugit saepe, temporibus enim
                odio voluptate similique inventore labore maiores fuga atque necessitatibus, vero dolores
                pariatur at a, consectetur beatae qui.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reprehenderit maiores ipsum
                aspernatur molestiae quis qui. Delectus vel impedit earum deleniti necessitatibus omnis, minus
                fugiat rerum? Aspernatur commodi quasi quos.
            </p>

            <h5 class="text-shadow mt-3">
                <a href="{{path('app_contact')}}" class="btn-prim">DITES-MOI TOUT <i class="bi bi-arrow-right"></i></a>
            </h5>
        </div>
        
        <div class="col-12 col-md-6 text-center text-md-end">
            <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="" class="img-help-you img-fluid">
        </div>
    </div>

    <!-- reason -->
    <div class="row" id="reasons">
        <div class="col-12 text-center">
            <h1>Vous êtes au bon endroit SI</h1>
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.fjfjgf</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit .</li>
                <li>Lorem ipsum dolor sit amet consecit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elfghjkgfjhgfdfghjkjhgfghit.</li>
            </ul>
        </div>
    </div>

    <!-- Customer reviews -->
    <div class="row" id="reviews">
        <div class="col-12 mb-2">
            <h1 class="text-center">Avis clients</h1>
        </div>

        <div class="col-12 col-md-3">
            <div class="row text-center">
                <div class="col-12">
                    <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="" class="radius-circled" width="100" height="100">
                </div>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo iste aspernatur
                        adipisci officia laborum magnam eaque non repellendus quasi saepe, quae beatae facilis dolor
                        tempora mollitia illum! Velit, sint?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row text-center">
                <div class="col-12">
                    <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="" class="radius-circled" width="100" height="100">
                </div>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo iste aspernatur
                        adipisci officia laborum magnam eaque non repellendus quasi saepe, quae beatae facilis dolor
                        tempora mollitia illum! Velit, sint?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row text-center">
                <div class="col-12">
                    <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="" class="radius-circled" width="100" height="100">
                </div>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo iste aspernatur
                        adipisci officia laborum magnam eaque non repellendus quasi saepe, quae beatae facilis dolor
                        tempora mollitia illum! Velit, sint?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row text-center">
                <div class="col-12">
                    <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="" class="radius-circled" width="100" height="100">
                </div>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo iste aspernatur
                        adipisci officia laborum magnam eaque non repellendus quasi saepe, quae beatae facilis dolor
                        tempora mollitia illum! Velit, sint?
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-12 text-end">
            <a href="#" title="" class="btn-prim">TOUS LES AVIS <i class="bi bi-arrow-right"></i></a>
            <a href="#" title="" class="btn-sec">LAISSER UN AVIS <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>

    <!-- how it works -->
    <div class="row text-center" id="how-it-works-banner">
        <h1>Votre recherche de logement simplifiée</h1>
        <div class="col-6 col-md-3">
            <h5>Lorem ipsum dolor</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum perspiciatis ea nisi deleniti repudiandae modi reprehenderit deserunt, laborum consequatur quae! Eos reiciendis facere deleniti quasi, ea voluptatem tenetur laudantium.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>Lorem ipsum dolor</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum perspiciatis ea nisi deleniti repudiandae modi reprehenderit deserunt, laborum consequatur quae! Eos reiciendis facere deleniti quasi, ea voluptatem tenetur laudantium.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>Lorem ipsum dolor</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum perspiciatis ea nisi deleniti repudiandae modi reprehenderit deserunt, laborum consequatur quae! Eos reiciendis facere deleniti quasi, ea voluptatem tenetur laudantium.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h5>Lorem ipsum dolor</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum perspiciatis ea nisi deleniti repudiandae modi reprehenderit deserunt, laborum consequatur quae! Eos reiciendis facere deleniti quasi, ea voluptatem tenetur laudantium.
            </p>
        </div>
    </div>
</main>
{% endblock %}