{% extends('base.html.twig') %}

{% block title %}Reviews{% endblock %}

{% block metatags %}
    <meta name="description" content="Jetez un coup d'œil aux avis sur Jess Relocation."/>
    <meta property="og:title" content="Reviews" />
    <meta property="og:url" content="https://www.jess-relocation.com/" />
    <meta property="og:image" content="{{asset('assets/img/logo-social-media.jpg')}}" />
    <meta property="og:description" content="Jetez un coup d'œil aux avis sur Jess Relocation." />
    <meta property="og:site_name" content="jess-relocation" />
    <meta property="og:type" content="website" />
{% endblock %}

{% block body %}
<main class="container-fluid">
    <section class="row">
        <div class="col-12 text-center banner">
            <h1>Jetez un coup d'œil aux avis sur Jess Relocation</h1>
        </div>
        
        <div class="col-12 my-5">
            <div class="container">
                <div class="row">
                    <!-- review -->
                    {% if reviews | length > 0 %}
                        {% for review in reviews %}
                            <div class="col-12 col-md-4 card review-card">
                                <div class="row text-center">
                                    <div class="col-12">
                                        {% if review.profilPicture %}
                                            <img src="{{asset('assets/uploads/reviewers_pictures/'~review.profilPicture)}}" alt="Reviewer picture" class="radius-circled" width="100" height="100">
                                        {% else %}
                                            <img src="{{asset('assets/img/avatar-carre.jpeg')}}" alt="Reviewer picture" class="radius-circled" width="100" height="100">
                                        {% endif %}
                                        <h4>{{review.pseudo}}</h4>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                            {{review.message}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h4 class="text-center">Aucun avis pour le moment, n'hésitez pas à en laisser</h4>
                    {% endif %}

                    <div class="col-12 mt-2">
                        <div class="pagination justify-content-center">
                            {{knp_pagination_render(reviews)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}